* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
body,
html {
  font-family: "Manrope", sans-serif;
}
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}
img,
video {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
body {
  background-color: #ededed;
}
header {
  position: relative;
  height: 600px;
}
header img {
  object-fit: cover;
}
.containerImg {
  position: absolute;
  top: 0;
  padding: 69px 0 0 69px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.containerHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content {
  height: 100%;
  padding: 0 300px;
}

header h1 {
  color: #ffd15b;
  line-height: 66px;
  font-size: 44px;
  font-weight: 400;
  line-height: 66px;
  text-align: center;
  width: 75%;
  margin: 0 auto 30px;
}
form {
  position: relative;
}
form > input {
  height: 72px;
  width: 954px;
  border-radius: 11px;
  padding-left: 25px;
}

form .icon {
  position: absolute;
  top: 50%;
  background: #1b1b1b;
  right: 0;
  color: white;
  width: 51px;
  height: 51px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  margin-right: 10px;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
}
form .icon:hover {
  background-color: #ffd15b;
}

.containerCard {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.cardElement {
  background-color: white;
  flex: 1 1 25%;
  border-radius: 21px;
  overflow: hidden;
  box-shadow: 0px 4px 34px 30px #0000000a;
  position: relative;
}
.paddingElement {
  padding: 0 25px;
}
.cardElement h2 {
  font-size: 18px;
  margin: 32px 0 29px;
}
.cardImg {
  height: 253px;
  object-fit: cover;
}
.recipe {
  font-size: 12px;
  letter-spacing: 9%;
  color: #7a7a7a;
  line-height: 16.39px;
}
.containerIngredient {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.ingredient,
.bars {
  font-size: 14px;
}

.ingredient {
  font-weight: 500;
  color: #1b1b1b;
  margin: 0;
}
.bars {
  color: #7a7a7a;
}
.containerIngredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) {
  .content {
    padding: 0;
  }
  .cardElement {
    flex: 1 1 100%;
  }
}
@media (min-width: 768px) {
  .cardElement {
    flex: 1 1 25%;
  }
}
.notFound {
  font-size: 24px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notFound p {
  text-align: center;
}
.time {
  position: absolute;
  right: 20px;
  top: 21px;
  background-color: #ffd15b;
  color: #1b1b1b;
  border-radius: 14px;
  padding: 5px 15px 5px 15px;
  font-weight: 400;
  font-size: 12px;
}
.topbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.totalRecipes {
  color: #1b1b1b;
  font-weight: 400;
  font-size: 21px;
}
.wrapper {
  width: 195px;
}
.select-btn,
.options li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn {
  height: 65px;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 11px;
  justify-content: space-between;
  background: #fff;
  font-weight: 500;
  line-height: 21.86px;
}
.wrapper.active .select-btn {
  border-radius: 11px 11px 0 0;
}
.select-btn i {
  font-size: 16px;
  transition: transform 250ms ease-in-out;
}
.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}
.contentSearch {
  display: none;
  background-color: #fff;
  padding-top: 14px;
  border-radius: 0 0 11px 11px;
  margin-top: -14px;
}
.wrapper.active .contentSearch {
  display: block;
}
.contentSearch .search {
  position: relative;
  padding: 0 16px 0;
}
.search i {
  top: -8px;
  right: 27px;
  position: absolute;
  line-height: 53px;
  color: #999;
  font-size: 16px;
}
.search input {
  width: 163px;
  height: 36px;
  outline: none;
  font-size: 17px;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
}
.contentSearch .options {
  margin-top: 26px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar {
  width: 7px;
}
.options::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 25px;
}
.options li {
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  border-radius: 5px;
  padding: 0 16px;
}
.options li,
.select {
  transition: background-color 250ms ease-in-out;
}
.options li:hover,
.select {
  background-color: #ffd15b;
}
.containerSelect {
  display: flex;
  gap: 66px;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.tags .tag {
  background-color: #ffd15b;
  border-radius: 10px;
  padding: 17px 18px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.tagClose {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
